#!/usr/bin/env rc
if(test $#* -eq 0){
	exit 1
}
rpath = `{dirname `{readlink -f $0} }
. $rpath/module/std_scan.rc
for(user in $*){
	scan 'https://%s.deviantart.com' \
		$user \
		$std_head \
		'HTTP/2 404' \
		(-i) &
}
