#!/usr/bin/env rc

prog=$0
fn usage {
	echo Usage of $prog: >[1=2]
	echo '	'$prog [user1] .. [userN] >[1=2]
	exit 1
}

if( test $#* -eq 0){
	usage
}
# Path to the script directory.
rpath = `{dirname `{readlink -f $0} }

users = $*

scripts = $rpath/lostinweb.d/*

for( i in $scripts ){
	if(test -f $i -a -x $i ){
		$i $users &
	}
}
