# This module provides the most used way getting users page status.
std_head = 'Accept-Language: en'
std_user_agent = '"Mozilla/5.0 (X11; U; Linux i686; en-US; rv:0.9.3) Gecko/20010801"'
fn scan {
	url = $1
	user = $2
	head = $3
	scan = $4
	opt =  $5
	rurl = `{printf $url $user}
	chk = \
	`{
		curl -s -H $head -L $opt $rurl | \
			grep -o $scan
		echo $status
	}
	if( ~ $chk *'|1'* ){
		echo $rurl 
	}
}
